* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(179, 86, 53);
    font-size: 20px;
}
.container { 
    width: 300px;
    margin: 0 auto;
    margin-top: 150px;
    padding: 20px;
    background-color: azure;
    border-radius: 10px;
    font-size: 20px;
}
input {
    margin-bottom: 20px;
}
button {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    background-color: blueviolet;
    border: none;
    font-size: 15px;
    color: white;
}
 .inputs input{
    height: 30px;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    border: 2px blueviolet solid;
 }
 p {
    color: blueviolet;
 }
 label {
    color: blueviolet;
 }